* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(to bottom, #434343, #333);
    background-size: cover;
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav-items-section {
    display: flex;
    gap: 2rem;
}

.nav-items {
    font-family: "Source Code Pro", Roboto, monospace;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #fff;
}

.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.star-rating img {
    margin-right: 2px;
}

.star-rating h3 {
    font-family: "Source Code Pro", Roboto, monospace;
    font-weight: lighter;
}

.title-outline {
    font-family: "Source Code Pro", Roboto, monospace;
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.remove-btn {
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5rem;
    background: transparent;
    cursor: pointer;
}

main div label {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

main div {
    font-family: "Space Mono", Roboto, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
    margin: 1rem 0;
}

main div p {
    font-size: 1rem;
    margin: 2rem 0;
    font-family: Roboto, monospace;
}

main div input {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    outline: none;
    font-size: 1.3rem;
    width: 300px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}
